#pragma code_page(65001)
#include "../../resource.h"
#include <winres.h>

LANGUAGE LANG_SLOVAK, SUBLANG_DEFAULT

IDR_VIEWERSPACE_MENU MENU
BEGIN
    POPUP "&Súbor"
    BEGIN
        MENUITEM "&Obnoviť\tF5", IDM_VIEWERSPACE_FILE_REFRESH
        MENUITEM "&Hore\tBackspace", IDM_VIEWERSPACE_NAV_UP
        MENUITEM SEPARATOR
        MENUITEM "&Koniec\tEsc", IDM_VIEWERSPACE_FILE_EXIT
    END
END

STRINGTABLE
BEGIN
    IDS_VIEWERSPACE_NAME "Priestor"
    IDS_VIEWERSPACE_DESCRIPTION "Prehliadač využitia disku stromovej mapy"
    IDS_VIEWERSPACE_TITLE_FORMAT "{0} - Vesmír"
    IDS_VIEWERSPACE_STATUS_SCANNING "Skenovanie..."
    IDS_VIEWERSPACE_STATUS_QUEUED "V rade…"
    IDS_VIEWERSPACE_STATUS_DONE "Hotovo"
    IDS_VIEWERSPACE_OTHER_BUCKET_FORMAT "Ďalšie položky ({0:L} položiek)"
    IDS_VIEWERSPACE_STATUS_NOT_STARTED "Nespustené"
    IDS_VIEWERSPACE_STATUS_ERROR "Chyba"
    IDS_VIEWERSPACE_STATUS_CANCELED "Zrušené"
    IDS_VIEWERSPACE_TOOLTIP_PERCENT_FORMAT "{0:.1Lf} %"
    IDS_VIEWERSPACE_TOOLTIP_FORMAT_WITH_PATH "{0}\r\n{1}\r\nVeľkosť: {2}\r\nZdieľať: {3}\r\nStav: {4}"
    IDS_VIEWERSPACE_TOOLTIP_FORMAT_NO_PATH "{0}\r\nVeľkosť: {1}\r\nZdieľať: {2}\r\nStav: {3}"
    IDS_VIEWERSPACE_TOOLTIP_FORMAT_WITH_PATH_NO_STATE "{0}\r\n{1}\r\nVeľkosť: {2}\r\nZdieľať: {3}"
    IDS_VIEWERSPACE_TOOLTIP_FORMAT_NO_PATH_NO_STATE "{0}\r\nVeľkosť: {1}\r\nZdieľať: {2}"
    IDS_VIEWERSPACE_HEADER_SCANNING_FORMAT "Skenovanie {0} - {1}"
    IDS_VIEWERSPACE_HEADER_PROCESSING_FORMAT "Spracovanie: {0}"
    IDS_VIEWERSPACE_HEADER_COUNTS_FORMAT "Položky {0:L} (priečinky {1:L}, súbory {2:L})"
    IDS_VIEWERSPACE_HEADER_SIZE_FORMAT "{0} ({1:L} bajtov)"
    IDS_VIEWERSPACE_AGGREGATE_FOLDERS_FILES_FORMAT "Priečinky {0:L}, súbory {1:L}"
    IDS_VIEWERSPACE_AGGREGATE_FOLDERS_FORMAT "priečinky {0:L}"
    IDS_VIEWERSPACE_AGGREGATE_FILES_FORMAT "{0:L} súbory"
    IDS_VIEWERSPACE_WATERMARK_SCAN_INCOMPLETE "Skenovanie nebolo dokončené"
    IDS_VIEWERSPACE_WATERMARK_IN_PROGRESS "Prebieha"
    IDS_VIEWERSPACE_CONTEXT_FOCUS_IN_PANE "Zaostrenie v paneli"
    IDS_VIEWERSPACE_CONTEXT_ZOOM_IN "Priblížiť"
    IDS_VIEWERSPACE_CONTEXT_ZOOM_OUT "Oddialiť"
    IDS_VIEWERSPACE_OVERLAY_SCAN_COMPLETED "Skenovanie dokončené"
END
