#pragma code_page(65001)
#include "../../resource.h"
#include <winres.h>

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

IDR_VIEWERSPACE_MENU MENU
BEGIN
    POPUP "ファイル(&F)"
    BEGIN
        MENUITEM "更新(&R)\tF5", IDM_VIEWERSPACE_FILE_REFRESH
        MENUITEM "上へ(&U)\tBackspace", IDM_VIEWERSPACE_NAV_UP
        MENUITEM SEPARATOR
        MENUITEM "終了(&X)\tEsc", IDM_VIEWERSPACE_FILE_EXIT
    END
END

STRINGTABLE
BEGIN
    IDS_VIEWERSPACE_NAME "スペース"
    IDS_VIEWERSPACE_DESCRIPTION "ディスク使用量をツリーマップで表示します。"
    IDS_VIEWERSPACE_TITLE_FORMAT "{0} - スペース"
    IDS_VIEWERSPACE_STATUS_SCANNING "スキャン中..."
    IDS_VIEWERSPACE_STATUS_QUEUED "キューに入れられました..."
    IDS_VIEWERSPACE_STATUS_DONE "完了"
    IDS_VIEWERSPACE_OTHER_BUCKET_FORMAT "その他のアイテム ({0:L} アイテム)"
    IDS_VIEWERSPACE_STATUS_NOT_STARTED "開始されていません"
    IDS_VIEWERSPACE_STATUS_ERROR "エラー"
    IDS_VIEWERSPACE_STATUS_CANCELED "キャンセルされました"
    IDS_VIEWERSPACE_TOOLTIP_PERCENT_FORMAT "{0:.1Lf}%"
    IDS_VIEWERSPACE_TOOLTIP_FORMAT_WITH_PATH "{0}\r\n{1}\r\nサイズ: {2}\r\n共有: {3}\r\n状態: {4}"
    IDS_VIEWERSPACE_TOOLTIP_FORMAT_NO_PATH "{0}\r\nサイズ: {1}\r\n共有: {2}\r\n状態: {3}"
    IDS_VIEWERSPACE_TOOLTIP_FORMAT_WITH_PATH_NO_STATE "{0}\r\n{1}\r\nサイズ: {2}\r\nシェア: {3}"
    IDS_VIEWERSPACE_TOOLTIP_FORMAT_NO_PATH_NO_STATE "{0}\r\nサイズ: {1}\r\nシェア: {2}"
    IDS_VIEWERSPACE_HEADER_SCANNING_FORMAT "{0} ～ {1} をスキャン中"
    IDS_VIEWERSPACE_HEADER_PROCESSING_FORMAT "処理中: {0}"
    IDS_VIEWERSPACE_HEADER_COUNTS_FORMAT "{0:L} アイテム ({1:L} フォルダー、{2:L} ファイル)"
    IDS_VIEWERSPACE_HEADER_SIZE_FORMAT "{0} ({1:L} バイト)"
    IDS_VIEWERSPACE_AGGREGATE_FOLDERS_FILES_FORMAT "{0:L} フォルダー、{1:L} ファイル"
    IDS_VIEWERSPACE_AGGREGATE_FOLDERS_FORMAT "{0:L} フォルダー"
    IDS_VIEWERSPACE_AGGREGATE_FILES_FORMAT "{0:L} ファイル"
    IDS_VIEWERSPACE_WATERMARK_SCAN_INCOMPLETE "スキャンが不完全"
    IDS_VIEWERSPACE_WATERMARK_IN_PROGRESS "進行中"
    IDS_VIEWERSPACE_CONTEXT_FOCUS_IN_PANE "ペイン内でフォーカスする"
    IDS_VIEWERSPACE_CONTEXT_ZOOM_IN "ズームイン"
    IDS_VIEWERSPACE_CONTEXT_ZOOM_OUT "ズームアウト"
    IDS_VIEWERSPACE_OVERLAY_SCAN_COMPLETED "スキャンが完了しました"
END
