<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap desktop rescap">
  <Identity Name="RedSalamander" Publisher="CN=RedSalamander" Version="7.0.0.183" ProcessorArchitecture="x64" />
  <Properties>
    <DisplayName>Red Salamander</DisplayName>
    <PublisherDisplayName>Red Salamander</PublisherDisplayName>
    <Description>Red Salamander file manager.</Description>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>
  <Resources>
    <Resource Language="en-US" />
  </Resources>
  <Applications>
    <Application Id="RedSalamander" Executable="RedSalamander.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="Red Salamander"
        Description="Red Salamander file manager"
        BackgroundColor="#0B2E2B"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Square150x150Logo="Assets\Square150x150Logo.png"
        >
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\Square310x310Logo.png" />
      </uap:VisualElements>
      <Extensions>
        <desktop:Extension Category="windows.fullTrustProcess" Executable="RedSalamander.exe" />
      </Extensions>
    </Application>
    <Application Id="RedSalamanderMonitor" Executable="RedSalamanderMonitor.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="Red Salamander Monitor"
        Description="Red Salamander monitor"
        BackgroundColor="#0B2E2B"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Square150x150Logo="Assets\Square150x150Logo.png"
        >
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\Square310x310Logo.png" />
      </uap:VisualElements>
      <Extensions>
        <desktop:Extension Category="windows.fullTrustProcess" Executable="RedSalamanderMonitor.exe" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
