#pragma code_page(65001)
#include "../../FileSystemS3Resources.h"
#include <winres.h>

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_FILESYSTEMS3_DESCRIPTION "Amazon S3 仮想ファイル システム。"
    IDS_FILESYSTEMS3TABLE_NAME "S3 テーブル"
    IDS_FILESYSTEMS3TABLE_DESCRIPTION "Amazon S3 テーブル仮想ファイル システム。"
END
