#pragma code_page(65001)
#include "../../FileSystemCurlResources.h"
#include <winres.h>

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_FILESYSTEMCURL_FTP_DESCRIPTION "FTP仮想ファイル システム。"
    IDS_FILESYSTEMCURL_SFTP_DESCRIPTION "SFTP 仮想ファイル システム (SSH ファイル転送プロトコル)。"
    IDS_FILESYSTEMCURL_SCP_DESCRIPTION "SCP 仮想ファイル システム (SSH 経由の安全なコピー)。"
    IDS_FILESYSTEMCURL_IMAP_DESCRIPTION "IMAP 仮想メール ファイル システム。"
END
