#include <windows.h>
#include "FileSystemS3Resources.h"

STRINGTABLE
BEGIN
    IDS_FILESYSTEMS3_NAME "S3"
    IDS_FILESYSTEMS3_DESCRIPTION "Amazon S3 virtual file system."
    IDS_FILESYSTEMS3TABLE_NAME "S3 Table"
    IDS_FILESYSTEMS3TABLE_DESCRIPTION "Amazon S3 Tables virtual file system."
END
