#pragma code_page(65001)
#include "../../FileSystemCurlResources.h"
#include <winres.h>

LANGUAGE LANG_FRENCH, SUBLANG_FRENCH

STRINGTABLE
BEGIN
    IDS_FILESYSTEMCURL_FTP_NAME "FTP"
    IDS_FILESYSTEMCURL_FTP_DESCRIPTION "Système de fichiers virtuel FTP."
    IDS_FILESYSTEMCURL_SFTP_NAME "SFTP"
    IDS_FILESYSTEMCURL_SFTP_DESCRIPTION "Système de fichiers virtuel SFTP (protocole de transfert de fichiers SSH)."
    IDS_FILESYSTEMCURL_SCP_NAME "SCP"
    IDS_FILESYSTEMCURL_SCP_DESCRIPTION "Système de fichiers virtuel SCP (copie sécurisée via SSH)."
    IDS_FILESYSTEMCURL_IMAP_NAME "IMAP"
    IDS_FILESYSTEMCURL_IMAP_DESCRIPTION "Système de fichiers virtuel de messagerie IMAP."
END
