#pragma code_page(65001)
#include "../../FileSystemDummyResources.h"
#include <winres.h>

LANGUAGE LANG_SLOVAK, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_FILESYSTEMDUMMY_NAME "Figurína súborového systému"
    IDS_FILESYSTEMDUMMY_DESCRIPTION "Deterministický in-memory fiktívny súborový systém na testovanie."
END
