#pragma code_page(65001)
#include "../../resource.h"
#include <winres.h>

LANGUAGE LANG_CZECH, SUBLANG_DEFAULT

IDR_REDCONFIGURE_MAINMENU MENU
BEGIN
    POPUP "&Soubor"
    BEGIN
        MENUITEM "&Konec", IDM_REDCONFIGURE_EXIT
    END
END

STRINGTABLE
BEGIN
    IDS_REDCONFIGURE_APP_TITLE "RedConfigure"
    IDS_REDCONFIGURE_ERROR_CREATE_WINDOW "RedConfigure nemohl vytvořit své hlavní okno."
    IDS_REDCONFIGURE_MENU_FILE "&Soubor"
    IDS_REDCONFIGURE_MENU_EXIT "&Konec"
    IDS_REDCONFIGURE_MODE_START_TITLE "Start"
    IDS_REDCONFIGURE_MODE_START_DESC "Před úpravou vyberte nebo potvrďte kořen úložiště; RedConfigure detekuje soubory projektu a motivy z tohoto kořenového adresáře."
    IDS_REDCONFIGURE_MODE_LOCALIZATION_TITLE "Lokalizace"
    IDS_REDCONFIGURE_MODE_LOCALIZATION_DESC "Upravujte text zdroje na jednom pracovním stole s inventářem, překlady, ověřováním a živými příklady dohromady."
    IDS_REDCONFIGURE_MODE_THEMES_TITLE "Motivy"
    IDS_REDCONFIGURE_MODE_THEMES_DESC "Upravujte tokeny motivů, přímé barvy, odkazy a odvozené barvy, zatímco se příklady okamžitě aktualizují."
    IDS_REDCONFIGURE_MODE_REVIEW_EXPORT_TITLE "Kontrola a export"
    IDS_REDCONFIGURE_MODE_REVIEW_EXPORT_DESC "Ověřte nevyřízené změny, zkontrolujte výstupní cesty a exportujte soubory .rc nebo .theme.json5."
    IDS_REDCONFIGURE_LABEL_WORKSPACE_ROOT "Kořen pracovního prostoru"
    IDS_REDCONFIGURE_LABEL_CULTURE "Kultura"
    IDS_REDCONFIGURE_BUTTON_RELOAD "Znovu načíst"
    IDS_REDCONFIGURE_LABEL_RESOURCE_OWNERS "Vlastníci prostředků"
    IDS_REDCONFIGURE_LABEL_THEME_FILES "Soubory motivů"
    IDS_REDCONFIGURE_LABEL_SCAN_ERRORS "Chyby skenování"
    IDS_REDCONFIGURE_LABEL_ACTIVE_OWNER "Aktivní vlastník"
    IDS_REDCONFIGURE_STATUS_WORKSPACE_READY "Pracovní prostor načten"
    IDS_REDCONFIGURE_STATUS_WORKSPACE_FAILED "Načtení pracovního prostoru se nezdařilo"
    IDS_REDCONFIGURE_COL_ID "ID"
    IDS_REDCONFIGURE_COL_SOURCE "Zdroj"
    IDS_REDCONFIGURE_COL_TARGET "Cíl"
    IDS_REDCONFIGURE_COL_STATUS "Stav"
    IDS_REDCONFIGURE_STATUS_OK "OK"
    IDS_REDCONFIGURE_STATUS_BARE_PLACEHOLDER "Holý zástupný symbol"
    IDS_REDCONFIGURE_STATUS_UNINDEXED_FORMAT "Neindexovaný formát"
    IDS_REDCONFIGURE_STATUS_PRINTF_FORMAT "Zástupný symbol Printf"
    IDS_REDCONFIGURE_STATUS_PLACEHOLDER_MISMATCH "Neshoda zástupného symbolu"
    IDS_REDCONFIGURE_LOCALIZATION_EMPTY "Pro aktivního vlastníka nebyly nalezeny žádné prostředky řetězce."
    IDS_REDCONFIGURE_LABEL_SOURCE_TEXT "Zdrojový text"
    IDS_REDCONFIGURE_LABEL_TARGET_TEXT "Cílový text"
    IDS_REDCONFIGURE_BUTTON_EXPORT_RC "Export RC"
    IDS_REDCONFIGURE_LABEL_THEME_NAME "téma"
    IDS_REDCONFIGURE_LABEL_THEME_PATH "Tématická cesta"
    IDS_REDCONFIGURE_LABEL_THEME_ERRORS "Chyby tématu"
    IDS_REDCONFIGURE_LABEL_COLOR_KEY "Barevný klíč"
    IDS_REDCONFIGURE_LABEL_COLOR_VALUE "Hodnota barvy"
    IDS_REDCONFIGURE_BUTTON_EXPORT_THEME "Export motivu"
    IDS_REDCONFIGURE_THEME_COLOR_VALID "Použita barva"
    IDS_REDCONFIGURE_THEME_COLOR_INVALID "Neplatná barva"
    IDS_REDCONFIGURE_THEME_PREVIEW_NAV "Navigace"
    IDS_REDCONFIGURE_THEME_PREVIEW_MENU "Zobrazení úprav souboru"
    IDS_REDCONFIGURE_THEME_PREVIEW_FOLDER "Zobrazení složky"
    IDS_REDCONFIGURE_THEME_PREVIEW_SELECTED "Vybraná položka"
    IDS_REDCONFIGURE_LABEL_DEFAULT_RC_PATH "Výchozí RC výstup"
    IDS_REDCONFIGURE_LABEL_DEFAULT_THEME_PATH "Výchozí výstup motivu"
    IDS_REDCONFIGURE_STATUS_EXPORT_RC_DONE "RC exportováno"
    IDS_REDCONFIGURE_STATUS_EXPORT_THEME_DONE "Téma bylo exportováno"
    IDS_REDCONFIGURE_STATUS_EXPORT_FAILED "Export se nezdařil"
    IDS_REDCONFIGURE_LABEL_TRANSLATION_COUNT "Překlady"
    IDS_REDCONFIGURE_LABEL_RC_PREVIEW "RC náhled"
    IDS_REDCONFIGURE_LABEL_THEME_PREVIEW "Náhled JSON motivu"
    IDS_REDCONFIGURE_COL_KIND "Druh"
    IDS_REDCONFIGURE_COL_OWNER "Vlastník"
    IDS_REDCONFIGURE_KIND_STRING "Řetězec"
    IDS_REDCONFIGURE_KIND_MENU_POPUP "Popup menu"
    IDS_REDCONFIGURE_KIND_MENU_ITEM "Položka nabídky"
    IDS_REDCONFIGURE_KIND_DIALOG_CAPTION "Titulek dialogu"
    IDS_REDCONFIGURE_KIND_DIALOG_CONTROL "Dialogové ovládání"
    IDS_REDCONFIGURE_LABEL_SCOPE "Rozsah"
    IDS_REDCONFIGURE_LABEL_THEME_EXPRESSION_EXAMPLES "Zadejte #RRGGBB, ref (klíč), ztmavit (klíč, 20 %), zesvětlit (klíč, 20 %), prolnout (klíč, jiný klíč, 16 %), alfa (klíč, 80 %) nebo kontrast (klíč)."
    IDS_REDCONFIGURE_CULTURE_EXISTING_SUFFIX "existující"
    IDS_REDCONFIGURE_CULTURE_CREATE_SUFFIX "nové"
    IDS_REDCONFIGURE_THEME_PREVIEW_DIALOG "Dialog"
    IDS_REDCONFIGURE_THEME_PREVIEW_BUTTON "Tlačítko"
    IDS_REDCONFIGURE_THEME_PREVIEW_PROGRESS "Pokrok"
    IDS_REDCONFIGURE_THEME_PREVIEW_WARNING "Výstražná položka"
    IDS_REDCONFIGURE_THEME_PREVIEW_DIFF_ADDED "Přidán řádek"
    IDS_REDCONFIGURE_THEME_PREVIEW_DIFF_REMOVED "Odstraněný řádek"
    IDS_REDCONFIGURE_BUTTON_DARKEN_GROUP "Ztmavit skupinu"
    IDS_REDCONFIGURE_BUTTON_BLEND_ACCENT_GROUP "Smíšený přízvuk"
    IDS_REDCONFIGURE_BUTTON_RESET_COLOR "Resetovací klíč"
    IDS_REDCONFIGURE_THEME_PREVIEW_HOVER "Umístěte kurzor myši"
    IDS_REDCONFIGURE_LABEL_SEARCH "Hledat"
    IDS_REDCONFIGURE_LABEL_ID_FILTER "ID"
    IDS_REDCONFIGURE_FILTER_ALL "Vše"
    IDS_REDCONFIGURE_FILTER_PROBLEMS "Problémy"
    IDS_REDCONFIGURE_LABEL_PREVIOUS_COLOR "Předchozí"
    IDS_REDCONFIGURE_LABEL_KEY_FILTER "Klíčový filtr"
    IDS_REDCONFIGURE_COL_EFFECTIVE_VALUE "Hodnota"
    IDS_REDCONFIGURE_COL_AUTHORED_VALUE "Zadaná hodnota"
    IDS_REDCONFIGURE_THEME_KEYS_EMPTY "Filtru neodpovídají žádné barevné klíče"
    IDS_REDCONFIGURE_LABEL_OWNERS "Vlastníci"
    IDS_REDCONFIGURE_LABEL_LANGUAGES "Jazyky"
    IDS_REDCONFIGURE_TOGGLE_ALL_OWNERS "Všichni vlastníci"
    IDS_REDCONFIGURE_TOGGLE_ALL_LANGUAGES "Všechny jazyky"
    IDS_REDCONFIGURE_LABEL_ENGLISH_SOURCE "Anglický zdroj"
    IDS_REDCONFIGURE_LABEL_TARGET_LANGUAGE "Cílový jazyk"
    IDS_REDCONFIGURE_LABEL_SELECTED_CELL "Vybraná buňka"
    IDS_REDCONFIGURE_BUTTON_EXPORT_CHANGED_RC "Exportovat změněné soubory RC"
    IDS_REDCONFIGURE_LOCALIZATION_REVIEW_EMPTY "Aktuálním filtrům vlastníka, jazyka a textu neodpovídají žádné lokalizační řádky."
    IDS_REDCONFIGURE_STATUS_REVIEW_EXPORT_DONE "Exportováno souborů RC: {0}"
    IDS_REDCONFIGURE_SPLASH_STATUS_STARTING "Spouštění RedConfigure..."
    IDS_REDCONFIGURE_SPLASH_STATUS_DETECTING_WORKSPACE "Zjišťování pracovního prostoru..."
    IDS_REDCONFIGURE_SPLASH_STATUS_LOADING_WORKSPACE "Načítání pracovního prostoru..."
    IDS_REDCONFIGURE_SPLASH_STATUS_OPENING_WORKBENCH "Otevírání pracovního stolu..."
    IDS_REDCONFIGURE_SPLASH_DETAIL "Příprava lokalizačních nástrojů a motivů"
    IDS_REDCONFIGURE_STATUS_MISSING_TRANSLATION "Chybějící překlad"
END
