#include <winver.h>
#include "Version.h"

#ifndef RS_VERSION_FILEDESCRIPTION
#define RS_VERSION_FILEDESCRIPTION L"RedSalamander module"
#endif

#ifndef RS_VERSION_INTERNALNAME
#define RS_VERSION_INTERNALNAME L"RedSalamander"
#endif

#ifndef RS_VERSION_ORIGINALFILENAME
#define RS_VERSION_ORIGINALFILENAME L"RedSalamander.bin"
#endif

#ifndef RS_VERSION_COMMENTS
#define RS_VERSION_COMMENTS VERSINFO_COMMENT
#endif

#ifndef RS_VERSION_FILETYPE
#define RS_VERSION_FILETYPE VFT_APP
#endif

#ifndef RS_VERSION_FILESUBTYPE
#define RS_VERSION_FILESUBTYPE VFT2_UNKNOWN
#endif

#if defined(RSV_OFFICIAL_RELEASE)
#define RS_VERSION_FILEFLAGS 0x0L
#elif defined(_DEBUG)
#define RS_VERSION_FILEFLAGS (VS_FF_DEBUG | VS_FF_PRERELEASE)
#else
#define RS_VERSION_FILEFLAGS VS_FF_PRERELEASE
#endif

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VERSINFO_FILEVERSION_VALUES
 PRODUCTVERSION VERSINFO_PRODUCTVERSION_VALUES
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS RS_VERSION_FILEFLAGS
 FILEOS VOS_NT_WINDOWS32
 FILETYPE RS_VERSION_FILETYPE
 FILESUBTYPE RS_VERSION_FILESUBTYPE
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "Comments", RS_VERSION_COMMENTS
            VALUE "CompanyName", VERSINFO_COMPANY
            VALUE "FileDescription", RS_VERSION_FILEDESCRIPTION
            VALUE "FileVersion", VERSINFO_VERSION
            VALUE "InternalName", RS_VERSION_INTERNALNAME
            VALUE "LegalCopyright", VERSINFO_COPYRIGHT
            VALUE "OriginalFilename", RS_VERSION_ORIGINALFILENAME
            VALUE "ProductName", VERSINFO_PRODUCTNAME
            VALUE "ProductVersion", VERSINFO_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
