#pragma code_page(65001)
#include "../../resource.h"
#include <winres.h>

LANGUAGE LANG_FRENCH, SUBLANG_FRENCH

IDR_VIEWERSPACE_MENU MENU
BEGIN
    POPUP "&Fichier"
    BEGIN
        MENUITEM "&Actualiser\tF5", IDM_VIEWERSPACE_FILE_REFRESH
        MENUITEM "&Monter\tBackspace", IDM_VIEWERSPACE_NAV_UP
        MENUITEM SEPARATOR
        MENUITEM "&Quitter\tEsc", IDM_VIEWERSPACE_FILE_EXIT
    END
END

STRINGTABLE
BEGIN
    IDS_VIEWERSPACE_NAME "Espace"
    IDS_VIEWERSPACE_DESCRIPTION "Visionneuse d’utilisation du disque en carte proportionnelle"
    IDS_VIEWERSPACE_TITLE_FORMAT "{0} - Espace"
    IDS_VIEWERSPACE_STATUS_SCANNING "Analyse..."
    IDS_VIEWERSPACE_STATUS_QUEUED "En attente…"
    IDS_VIEWERSPACE_STATUS_DONE "Terminé"
    IDS_VIEWERSPACE_OTHER_BUCKET_FORMAT "Autres éléments ({0:L})"
    IDS_VIEWERSPACE_STATUS_NOT_STARTED "Non démarré"
    IDS_VIEWERSPACE_STATUS_ERROR "Erreur"
    IDS_VIEWERSPACE_STATUS_CANCELED "Annulé"
    IDS_VIEWERSPACE_TOOLTIP_PERCENT_FORMAT "{0:.1Lf}%"
    IDS_VIEWERSPACE_TOOLTIP_FORMAT_WITH_PATH "{0}\r\n{1}\r\nTaille : {2}\r\nPart : {3}\r\nÉtat : {4}"
    IDS_VIEWERSPACE_TOOLTIP_FORMAT_NO_PATH "{0}\r\nTaille : {1}\r\nPart : {2}\r\nÉtat : {3}"
    IDS_VIEWERSPACE_TOOLTIP_FORMAT_WITH_PATH_NO_STATE "{0}\r\n{1}\r\nTaille : {2}\r\nPart : {3}"
    IDS_VIEWERSPACE_TOOLTIP_FORMAT_NO_PATH_NO_STATE "{0}\r\nTaille : {1}\r\nPart : {2}"
    IDS_VIEWERSPACE_HEADER_SCANNING_FORMAT "Analyse de {0} - {1}"
    IDS_VIEWERSPACE_HEADER_PROCESSING_FORMAT "Traitement : {0}"
    IDS_VIEWERSPACE_HEADER_COUNTS_FORMAT "{0:L} éléments ({1:L} dossiers, {2:L} fichiers)"
    IDS_VIEWERSPACE_HEADER_SIZE_FORMAT "{0} ({1:L} octets)"
    IDS_VIEWERSPACE_AGGREGATE_FOLDERS_FILES_FORMAT "{0:L} dossiers, {1:L} fichiers"
    IDS_VIEWERSPACE_AGGREGATE_FOLDERS_FORMAT "{0:L} dossiers"
    IDS_VIEWERSPACE_AGGREGATE_FILES_FORMAT "{0:L} fichiers"
    IDS_VIEWERSPACE_WATERMARK_SCAN_INCOMPLETE "Analyse incomplète"
    IDS_VIEWERSPACE_WATERMARK_IN_PROGRESS "En cours"
    IDS_VIEWERSPACE_CONTEXT_FOCUS_IN_PANE "Afficher dans le volet"
    IDS_VIEWERSPACE_CONTEXT_ZOOM_IN "Zoom avant"
    IDS_VIEWERSPACE_CONTEXT_ZOOM_OUT "Zoom arrière"
    IDS_VIEWERSPACE_OVERLAY_SCAN_COMPLETED "Analyse terminée"
END
