#pragma code_page(65001)
#include "../../FileSystem7zResources.h"
#include <winres.h>

LANGUAGE LANG_FRENCH, SUBLANG_FRENCH

STRINGTABLE
BEGIN
    IDS_FILESYSTEM7Z_NAME "7-Zip"
    IDS_FILESYSTEM7Z_DESCRIPTION "Parcourir les fichiers d’archive comme un système de fichiers virtuel."
END
