<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package
    Name="Red Salamander"
    Manufacturer="Red Salamander"
    Language="1033"
    Version="$(var.ProductVersion)"
    UpgradeCode="{27AD7457-B05D-4E42-8954-751725749B9D}"
    Scope="perMachine">

    <MajorUpgrade
      Schedule="afterInstallInitialize"
      DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <Icon Id="RedSalamanderIcon" SourceFile="$(var.SolutionDir)RedSalamander\res\RedSalamander.ico" />
    <Property Id="ARPPRODUCTICON" Value="RedSalamanderIcon" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <ui:WixUI Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <Feature Id="MainFeature" Title="[ProductName]" Level="1">
      <ComponentGroupRef Id="CG_RedSalamanderFiles" />
      <ComponentRef Id="StartMenuShortcuts" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="RedSalamander" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="Red Salamander" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="CG_RedSalamanderFiles" Directory="INSTALLFOLDER">
      <Files Include="$(var.StageDir)\**\*" />
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="StartMenuShortcuts" Guid="{104EBC72-CBF3-46D1-A76F-F4F28CFEE63A}" Bitness="always64">
        <Shortcut
          Id="StartMenuShortcut"
          Name="Red Salamander"
          Description="Red Salamander file manager"
          Target="[INSTALLFOLDER]RedSalamander.exe"
          WorkingDirectory="INSTALLFOLDER" />

        <Shortcut
          Id="StartMenuMonitorShortcut"
          Name="Red Salamander Monitor"
          Description="Red Salamander monitor"
          Target="[INSTALLFOLDER]RedSalamanderMonitor.exe"
          WorkingDirectory="INSTALLFOLDER" />

        <!-- Windows 10/11 "Installed apps" uses DisplayIcon from the Uninstall key (not always ARPPRODUCTICON). -->
        <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\[ProductCode]" Name="DisplayIcon" Type="string"
          Value="[INSTALLFOLDER]RedSalamander.exe" />

        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKLM" Key="Software\RedSalamander" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
