#include "../../resource.h"
#include <winres.h>

LANGUAGE LANG_FRENCH, SUBLANG_FRENCH

IDR_LOCALIZATION_TEST_MENU MENU
BEGIN
    POPUP "&Fichier"
    BEGIN
        MENUITEM "&Ouvrir", 1
    END
END

IDD_LOCALIZATION_TEST_DIALOG DIALOGEX 0, 0, 140, 48
STYLE DS_SETFONT | WS_CAPTION | WS_SYSMENU
CAPTION "Dialogue FR"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Contenu FR", IDC_STATIC, 8, 8, 100, 10
    CONTROL "", IDC_LOCALIZATION_TEST_CUSTOM, "LocalizationTestCustomControl", WS_CHILD | WS_VISIBLE, 8, 22, 68, 10
    DEFPUSHBUTTON "OK", IDOK, 84, 27, 50, 14
END

STRINGTABLE
BEGIN
    IDS_LOCALIZATION_TEST_PRESENT "Chaine de test francaise"
    IDS_LOCALIZATION_TEST_EMBEDDED_FORMAT "Satellite FR {0} 0x{1:08X}"
END
